body {
	font-family: 'Open Sans', sans-serif;
	color: ;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div,p, input, button, form, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	font-weight: 900;
}

p {
	line-height: 1.66em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

header {
background: rgba(42,167,239,1);
background: -moz-linear-gradient(left, rgba(42,167,239,1) 0%, rgba(9,127,195,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(42,167,239,1)), color-stop(100%, rgba(9,127,195,1)));
background: -webkit-linear-gradient(left, rgba(42,167,239,1) 0%, rgba(9,127,195,1) 100%);
background: -o-linear-gradient(left, rgba(42,167,239,1) 0%, rgba(9,127,195,1) 100%);
background: -ms-linear-gradient(left, rgba(42,167,239,1) 0%, rgba(9,127,195,1) 100%);
background: linear-gradient(to right, rgba(42,167,239,1) 0%, rgba(9,127,195,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa7ef', endColorstr='#097fc3', GradientType=1 );
padding-top: 58px;
padding-bottom: 144px;
}

.logo {

}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	margin-top: 95px;
}

h1.title {
	font-size:30px;
	color: #ffffff;
	width: 550px;
}

span {
	font-size: 36px;
}

.intro {
	color: #ffffff ;
	margin-bottom: 37px;
	width: 380px;
	margin-top: 20px;
}

.btn {
	background: #F4D04F;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 220px;
	padding: 18px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #F0C119;
}

.desktop {
	height: 550px;
	}

.learn {
	padding-top:100px ;
	padding-bottom:122px ;
	text-align: center;
	}

.section title {
	font-size: 28px;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 64px;
}

.skill title {
	font-size: 18px;
	margin-bottom: 10px;
}

.skill text {
 
}

.time, .travell {
width: 300px;	
padding-top: 80px;
}

.time {
	background: url(../img/icon1.jpg) no-repeat top;	
}

.travell { 
    background: url(../img/icon2.jpg) no-repeat top;
}

.impotant {
	width: 320px;
	background: url(../img/icon3.jpg) no-repeat top;
	padding-top: 80px;
}

.form {
	background: #DCE2EA;
	padding: 100px 0;
}

.form .form_order { 
	display: flex;
	flex-direction: column;
	align-items: center;
}	

.form h2 {
	text-align: center;
	margin-bottom: 50px;
}

.input {
	width: 380px;
	height: 45px;
	margin-bottom: 20px;
	padding left: 20px;
	border: 2px solid #999A9D;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.btn-form {
	border: none;
}

footer {
	background: #38415F;
	color: #ffffff;
	padding: 40px 0;
	text-align: center;
}











